In [1]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm
import pickle

In [2]:
first_innings = pickle.load(open('first_innings.pkl','rb'))
matches = pickle.load(open('dataset_level1.pkl','rb'))

In [3]:
first_innings['innings']='1st'

In [4]:
first_innings

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,total_score,innings
12791,Multan Sultans,Karachi Kings,Lahore,53,61,6.0,5.389831,20.0,102,1st
17522,Multan Sultans,Quetta Gladiators,Abu Dhabi,68,77,10.0,9.488372,54.0,183,1st
16666,Quetta Gladiators,Islamabad United,Abu Dhabi,75,57,7.0,7.142857,39.0,133,1st
13501,Lahore Qalandars,Karachi Kings,Karachi,141,9,5.0,7.621622,41.0,150,1st
6264,Islamabad United,Karachi Kings,Sharjah,61,62,7.0,6.310345,39.0,124,1st
...,...,...,...,...,...,...,...,...,...,...
569,Karachi Kings,Quetta Gladiators,Dubai,85,43,7.0,6.623377,40.0,159,1st
4463,Karachi Kings,Islamabad United,Sharjah,117,20,7.0,7.020000,54.0,153,1st
3965,Quetta Gladiators,Peshawar Zalmi,Sharjah,67,63,8.0,7.052632,39.0,141,1st
18272,Karachi Kings,Peshawar Zalmi,Abu Dhabi,48,71,8.0,5.877551,25.0,175,1st
4408,Karachi Kings,Islamabad United,Sharjah,38,75,9.0,5.066667,24.0,153,1st

In [5]:
count = 1
delivery_df_2 = pd.DataFrame()
for index, row in matches.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    # Check the length of the row['innings'] list
    if len(row['innings']) > 1:
        # Only proceed if there is a second innings
        for ball in row['innings'][1]['2nd innings']['deliveries']:
            for key in ball.keys():
                match_id.append(count)
                batting_team.append(row['innings'][1]['2nd innings']['team'])
                teams.append(row['info.teams'])
                ball_of_match.append(key)
                batsman.append(ball[key]['batsman'])
                bowler.append(ball[key]['bowler'])
                runs.append(ball[key]['runs']['total'])
                city.append(row['info.city'])
                venue.append(row['info.venue'])
                try:
        
                    player_of_dismissed.append(ball[key]['wicket']['player_out'])
                except:
                    player_of_dismissed.append('0')
        loop_df = pd.DataFrame({
                'match_id':match_id,
                'teams':teams,
                'batting_team':batting_team,
                'ball':ball_of_match,
                'batsman':batsman,
                'bowler':bowler,
                'runs':runs,
                'player_dismissed':player_of_dismissed,
                'city':city,
                'venue':venue
            })
        delivery_df_2 = pd.concat([delivery_df_2,loop_df],ignore_index=True)

In [6]:
delivery_df_2

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Islamabad United, Peshawar Zalmi]",Islamabad United,0.1,DR Smith,Junaid Khan,4,0,NaN,Dubai International Cricket Stadium
1,2,"[Islamabad United, Peshawar Zalmi]",Islamabad United,0.2,DR Smith,Junaid Khan,0,0,NaN,Dubai International Cricket Stadium
2,2,"[Islamabad United, Peshawar Zalmi]",Islamabad United,0.3,DR Smith,Junaid Khan,4,0,NaN,Dubai International Cricket Stadium
3,2,"[Islamabad United, Peshawar Zalmi]",Islamabad United,0.4,DR Smith,Junaid Khan,1,0,NaN,Dubai International Cricket Stadium
4,2,"[Islamabad United, Peshawar Zalmi]",Islamabad United,0.5,Sharjeel Khan,Junaid Khan,1,0,NaN,Dubai International Cricket Stadium
...,...,...,...,...,...,...,...,...,...,...
23612,215,"[Quetta Gladiators, Islamabad United]",Islamabad United,17.6,BJ Haddin,Zulfiqar Babar,0,0,NaN,Dubai International Cricket Stadium
23613,215,"[Quetta Gladiators, Islamabad United]",Islamabad United,18.1,Khalid Latif,Anwar Ali,4,0,NaN,Dubai International Cricket Stadium
23614,215,"[Quetta Gladiators, Islamabad United]",Islamabad United,18.2,Khalid Latif,Anwar Ali,0,Khalid Latif,NaN,Dubai International Cricket Stadium
23615,215,"[Quetta Gladiators, Islamabad United]",Islamabad United,18.3,BJ Haddin,Anwar Ali,1,0,NaN,Dubai International Cricket Stadium
23616,215,"[Quetta Gladiators, Islamabad United]",Islamabad United,18.4,Misbah-ul-Haq,Anwar Ali,1,0,NaN,Dubai International Cricket Stadium

In [7]:
def bowl(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [8]:
delivery_df_2['bowling_team'] = delivery_df_2.apply(bowl,axis=1)

#added an aditional column

In [9]:
delivery_df_2.drop('teams', axis=1, inplace=True)

delivery_df_2

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,Islamabad United,0.1,DR Smith,Junaid Khan,4,0,NaN,Dubai International Cricket Stadium,Peshawar Zalmi
1,2,Islamabad United,0.2,DR Smith,Junaid Khan,0,0,NaN,Dubai International Cricket Stadium,Peshawar Zalmi
2,2,Islamabad United,0.3,DR Smith,Junaid Khan,4,0,NaN,Dubai International Cricket Stadium,Peshawar Zalmi
3,2,Islamabad United,0.4,DR Smith,Junaid Khan,1,0,NaN,Dubai International Cricket Stadium,Peshawar Zalmi
4,2,Islamabad United,0.5,Sharjeel Khan,Junaid Khan,1,0,NaN,Dubai International Cricket Stadium,Peshawar Zalmi
...,...,...,...,...,...,...,...,...,...,...
23612,215,Islamabad United,17.6,BJ Haddin,Zulfiqar Babar,0,0,NaN,Dubai International Cricket Stadium,Quetta Gladiators
23613,215,Islamabad United,18.1,Khalid Latif,Anwar Ali,4,0,NaN,Dubai International Cricket Stadium,Quetta Gladiators
23614,215,Islamabad United,18.2,Khalid Latif,Anwar Ali,0,Khalid Latif,NaN,Dubai International Cricket Stadium,Quetta Gladiators
23615,215,Islamabad United,18.3,BJ Haddin,Anwar Ali,1,0,NaN,Dubai International Cricket Stadium,Quetta Gladiators
23616,215,Islamabad United,18.4,Misbah-ul-Haq,Anwar Ali,1,0,NaN,Dubai International Cricket Stadium,Quetta Gladiators

In [10]:
first_df = delivery_df_2[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]
first_df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Islamabad United,Peshawar Zalmi,0.1,4,0,NaN,Dubai International Cricket Stadium
1,2,Islamabad United,Peshawar Zalmi,0.2,0,0,NaN,Dubai International Cricket Stadium
2,2,Islamabad United,Peshawar Zalmi,0.3,4,0,NaN,Dubai International Cricket Stadium
3,2,Islamabad United,Peshawar Zalmi,0.4,1,0,NaN,Dubai International Cricket Stadium
4,2,Islamabad United,Peshawar Zalmi,0.5,1,0,NaN,Dubai International Cricket Stadium
...,...,...,...,...,...,...,...,...
23612,215,Islamabad United,Quetta Gladiators,17.6,0,0,NaN,Dubai International Cricket Stadium
23613,215,Islamabad United,Quetta Gladiators,18.1,4,0,NaN,Dubai International Cricket Stadium
23614,215,Islamabad United,Quetta Gladiators,18.2,0,Khalid Latif,NaN,Dubai International Cricket Stadium
23615,215,Islamabad United,Quetta Gladiators,18.3,1,0,NaN,Dubai International Cricket Stadium
23616,215,Islamabad United,Quetta Gladiators,18.4,1,0,NaN,Dubai International Cricket Stadium

In [11]:

if first_df['city'].isnull().any():
    first_df.loc[first_df['city'].isnull(), 'city'] = first_df.loc[first_df['city'].isnull(), 'venue'].str.split().str[0]
first_df['city'].unique()

array(['Dubai', 'Sharjah', 'Lahore', 'Karachi', 'Abu Dhabi', 'Multan',
       'Rawalpindi'], dtype=object)

In [12]:
x = np.where(first_df['city'].isnull(), first_df['venue'].str.split().apply(lambda x:x[0]), first_df['city'])

In [13]:
first_df['city']=x

C:\Users\abc\AppData\Local\Temp\ipykernel_16612\180338517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_df['city']=x

In [14]:
first_df.drop(columns=['venue'],inplace=True)

C:\Users\abc\AppData\Local\Temp\ipykernel_16612\3170141841.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_df.drop(columns=['venue'],inplace=True)

In [15]:

first_df['runs'] = pd.to_numeric(first_df['runs'], errors='coerce')

# Group by 'match_id' and calculate cumulative sum for 'runs'
first_df['current_score'] = first_df.groupby('match_id')['runs'].cumsum()

C:\Users\abc\AppData\Local\Temp\ipykernel_16612\638503064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_df['runs'] = pd.to_numeric(first_df['runs'], errors='coerce')
C:\Users\abc\AppData\Local\Temp\ipykernel_16612\638503064.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_df['current_score'] = first_df.groupby('match_id')['runs'].cumsum()

In [16]:
first_df['over'] = first_df['ball'].apply(lambda x:str(x).split(".")[0])
first_df['ball_no'] = first_df['ball'].apply(lambda x:str(x).split(".")[1])

C:\Users\abc\AppData\Local\Temp\ipykernel_16612\2453031133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_df['over'] = first_df['ball'].apply(lambda x:str(x).split(".")[0])

In [17]:
first_df['balls_bowled'] = (first_df['over'].astype('int')*6) + first_df['ball_no'].astype('int')

In [18]:
first_df['balls_left'] = 120 - first_df['balls_bowled']

first_df['balls_left'] = first_df['balls_left'].apply(lambda x:0 if x<0 else x)

In [19]:

# Convert 'player_dismissed' column to numeric dtype
first_df['player_dismissed'] = pd.to_numeric(first_df['player_dismissed'], errors='coerce')

first_df['player_dismissed'] = first_df['player_dismissed'].apply(lambda x: 1 if x != 0 else x)

# Group by 'match_id' and calculate cumulative sum for 'player_dismissed'
first_df['wickets_left'] = 10 - (first_df.groupby('match_id')['player_dismissed'].cumsum())

In [20]:
first_df['crr'] = (first_df['current_score']*6)/first_df['balls_bowled']

In [21]:
first_df['runs'] = pd.to_numeric(first_df['runs'], errors='coerce')

groups = first_df.groupby('match_id')

match_ids = first_df['match_id'].unique()
last_five = []

for match_id in match_ids:
    # Get the group and calculate rolling sum for 'runs' column
    group_df = groups.get_group(match_id)
    rolling_sum = group_df['runs'].rolling(window=30, min_periods=1).sum()
    
    # Extend the list with rolling sum values
    last_five.extend(rolling_sum.values.tolist())

# Add 'last_five' column to the DataFrame
first_df['last_five'] = last_five

In [22]:
first_df.loc[first_df['balls_bowled'] <= 29, 'last_five'] = 0

In [23]:
final_df = first_df.groupby('match_id').sum()['runs'].reset_index().merge(first_df,on='match_id')

C:\Users\abc\AppData\Local\Temp\ipykernel_16612\1793961578.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  final_df = first_df.groupby('match_id').sum()['runs'].reset_index().merge(first_df,on='match_id')

In [24]:
final_df.rename(columns={'runs_x': 'total_score'}, inplace=True)
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','total_score']]

In [25]:
final_df = final_df.sample(final_df.shape[0])

In [26]:
final_df['innings']='2nd'

In [27]:
second_innings = final_df

pickle.dump(final_df,open('second_innings.pkl','wb'))

In [28]:
both_innings = pd.concat([first_innings, second_innings], ignore_index=True)

In [29]:

both_innings.loc[both_innings['innings'] != '2nd', 'innings'] = '1st'

In [30]:
both_innings

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,total_score,innings
0,Multan Sultans,Karachi Kings,Lahore,53,61,6.0,5.389831,20.0,102,1st
1,Multan Sultans,Quetta Gladiators,Abu Dhabi,68,77,10.0,9.488372,54.0,183,1st
2,Quetta Gladiators,Islamabad United,Abu Dhabi,75,57,7.0,7.142857,39.0,133,1st
3,Lahore Qalandars,Karachi Kings,Karachi,141,9,5.0,7.621622,41.0,150,1st
4,Islamabad United,Karachi Kings,Sharjah,61,62,7.0,6.310345,39.0,124,1st
...,...,...,...,...,...,...,...,...,...,...
49116,Peshawar Zalmi,Multan Sultans,Dubai,58,65,7.0,6.327273,31.0,164,2nd
49117,Peshawar Zalmi,Multan Sultans,Lahore,81,52,6.0,7.147059,37.0,140,2nd
49118,Lahore Qalandars,Quetta Gladiators,Abu Dhabi,40,83,6.0,6.486486,34.0,140,2nd
49119,Karachi Kings,Peshawar Zalmi,Karachi,3,111,9.0,2.000000,0.0,164,2nd
49120,Karachi Kings,Islamabad United,Karachi,132,6,1.0,6.947368,49.0,135,2nd

In [31]:
pickle.dump(final_df,open('both_innings.pkl','wb'))
both_innings = both_innings.sample(both_innings.shape[0])
both_innings

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,total_score,innings
41978,Peshawar Zalmi,Islamabad United,Abu Dhabi,61,71,9.0,7.469388,26.0,177,2nd
29496,Karachi Kings,Lahore Qalandars,Dubai,130,10,5.0,7.090909,41.0,158,2nd
36354,Islamabad United,Quetta Gladiators,Karachi,25,111,10.0,16.666667,0.0,157,2nd
14332,Lahore Qalandars,Peshawar Zalmi,Karachi,125,39,8.0,9.259259,39.0,199,1st
48913,Quetta Gladiators,Islamabad United,Sharjah,48,84,7.0,8.000000,45.0,135,2nd
...,...,...,...,...,...,...,...,...,...,...
38399,Quetta Gladiators,Karachi Kings,Karachi,9,110,10.0,5.400000,0.0,114,2nd
15846,Quetta Gladiators,Peshawar Zalmi,Karachi,41,94,9.0,9.461538,0.0,186,1st
1979,Lahore Qalandars,Quetta Gladiators,Dubai,79,73,6.0,10.085106,38.0,119,1st
1119,Islamabad United,Quetta Gladiators,Sharjah,66,68,7.0,7.615385,41.0,134,1st
25811,Peshawar Zalmi,Islamabad United,Dubai,53,73,7.0,6.765957,27.0,156,2nd

In [32]:
X = both_innings.drop(columns=['total_score'])
y = both_innings['total_score']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [33]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [41]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city','innings'])
]
,remainder='passthrough')
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.1,max_depth=10,random_state=42))
])
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print("r2 score is, ",r2_score(y_test,y_pred))
print("mean absolute error is ",mean_absolute_error(y_test,y_pred))

C:\Users\abc\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

r2 score is,  0.9380028352388762
mean absolute error is  3.660463851656926

In [35]:
# pickle.dump(pipe,open('pipev2.pkl','wb'))

In [39]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city','innings'])
]
,remainder='passthrough')
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1200,learning_rate=0.5,max_depth=20,random_state=789))
])
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print("r2 score is, ",r2_score(y_test,y_pred))
print("mean absolute error is ",mean_absolute_error(y_test,y_pred))

C:\Users\abc\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

r2 score is,  0.9203493949263113
mean absolute error is  2.983769904372043

In [42]:
input_data = {
    'batting_team': ['Peshawar Zalmi'],
    'bowling_team': ['Quetta Gladiators'],
    'city': ['Dubai'],
    
    'current_score': [177],
    'balls_left': [30],
    'wickets_left': [9],
    'crr': [12.00],
    'last_five': [70],
    'innings': ['1st'],
}

input_df = pd.DataFrame(input_data)
pred = pipe.predict(input_df)

print("final score prediction: ",pred[0])

final score prediction:  197.8223

166/7 (18.0)